# Node / Angular
node_modules/
dist/

# Maven / Spring Boot
target/
IronPdfEngine.2024.11.4.Windows.x64/
IronPdfEngine.2024.11.4.Windows.x64/
ironpdfengine.log

# Env & IDE
.env
.vscode/
.idea/
.DS_Store
/IronPdfEngine.2024.11.4.Windows.x64/
